body{
    margin:0px;
}
.cntn{
    background-color: rgb(49, 20, 63);
    width: 100%;
    height: 500px;
    padding-top: 70px;
}

.sight{
 background-color: rgb(82, 45, 117);
 height: 400px;
 width:450px;
 margin-left: 150px;
 padding-right: 80px;
}
.one{
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    font-size: 14px;
}
.ctq{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 40px;
    padding-left: 50px;
}
.cntnt{
    color:whitesmoke;
    font-size: 38px;
    padding-left: 50px;
    padding-top: 20px;

}
.data{
    color:whitesmoke;
    padding-left: 50px;
    font-size: 16px;
    padding-right: 40px;
}

.about{
display: flex;
flex-direction: row;
}
.image{
    background-image:url("./image-header-desktop.jpg");
    background-color: rgba(117, 11, 179, 0.541);
    background-blend-mode: darken;
    height: 400px;
    width:450px;
}
.dscvr{
   color: rgb(149, 15, 226);
}

@media(max-width:500px){
    .cntn{
        background-color: rgb(10, 1, 15);
        width: 250;
        height: 1000px;
        padding-top: 100px;
    }
    .image{
        height: 250px;
    width:300px;
    margin-left: 100px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    }
    .about{
        display: flex;
        flex-direction: column-reverse;
        }
        .sight{
            background-color: rgb(18, 2, 34);
            height: 600px;
            width:300px;
            margin-left: 100px;
            padding-right: 0px;
           }
           .cntnt{
               text-align: center;
               font-weight:10;
               padding-left: 5px;
               padding-top: 0px;
               padding-right: 5px;
           }
           .data{
            color:whitesmoke;
            padding-left: 20px;
            font-size: 16px;
            padding-right: 20px;
            text-align: center;
        }
        .ctq{
            display: flex;
            flex-direction: column;
            justify-content:space-between ;
            align-items: center;
           
        }
        .one{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            color: whitesmoke;
            font-size: 18px;
        }
}